ConsumeServicioWeb/src/conf/xml-resources/web-service-references/ServiciosWeb/wsdl/localhost_8081/ServiciosWeb/ServiciosWeb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://PaqueteWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://PaqueteWS/" name="ServiciosWeb">
<types>
<xsd:schema>
<xsd:import namespace="http://PaqueteWS/" schemaLocation="http://localhost:8081/ServiciosWeb/ServiciosWeb?xsd=1"/>
</xsd:schema>
</types>
<message name="CalculaLadoPerimCuadrado">
<part name="parameters" element="tns:CalculaLadoPerimCuadrado"/>
</message>
<message name="CalculaLadoPerimCuadradoResponse">
<part name="parameters" element="tns:CalculaLadoPerimCuadradoResponse"/>
</message>
<message name="CalcularBasePerimAreaRectangulo">
<part name="parameters" element="tns:CalcularBasePerimAreaRectangulo"/>
</message>
<message name="CalcularBasePerimAreaRectanguloResponse">
<part name="parameters" element="tns:CalcularBasePerimAreaRectanguloResponse"/>
</message>
<message name="CalcularPerimAreaTriangulo">
<part name="parameters" element="tns:CalcularPerimAreaTriangulo"/>
</message>
<message name="CalcularPerimAreaTrianguloResponse">
<part name="parameters" element="tns:CalcularPerimAreaTrianguloResponse"/>
</message>
<portType name="ServiciosWeb">
<operation name="CalculaLadoPerimCuadrado">
<input wsam:Action="http://PaqueteWS/ServiciosWeb/CalculaLadoPerimCuadradoRequest" message="tns:CalculaLadoPerimCuadrado"/>
<output wsam:Action="http://PaqueteWS/ServiciosWeb/CalculaLadoPerimCuadradoResponse" message="tns:CalculaLadoPerimCuadradoResponse"/>
</operation>
<operation name="CalcularBasePerimAreaRectangulo">
<input wsam:Action="http://PaqueteWS/ServiciosWeb/CalcularBasePerimAreaRectanguloRequest" message="tns:CalcularBasePerimAreaRectangulo"/>
<output wsam:Action="http://PaqueteWS/ServiciosWeb/CalcularBasePerimAreaRectanguloResponse" message="tns:CalcularBasePerimAreaRectanguloResponse"/>
</operation>
<operation name="CalcularPerimAreaTriangulo">
<input wsam:Action="http://PaqueteWS/ServiciosWeb/CalcularPerimAreaTrianguloRequest" message="tns:CalcularPerimAreaTriangulo"/>
<output wsam:Action="http://PaqueteWS/ServiciosWeb/CalcularPerimAreaTrianguloResponse" message="tns:CalcularPerimAreaTrianguloResponse"/>
</operation>
</portType>
<binding name="ServiciosWebPortBinding" type="tns:ServiciosWeb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CalculaLadoPerimCuadrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CalcularBasePerimAreaRectangulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CalcularPerimAreaTriangulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiciosWeb">
<port name="ServiciosWebPort" binding="tns:ServiciosWebPortBinding">
<soap:address location="http://localhost:8081/ServiciosWeb/ServiciosWeb"/>
</port>
</service>
</definitions>